# (C) 2010 CLOUD CREATIVE STUDIOS, INC.

name: Creating a version tag

on:
  push:
    branches:
      - main

jobs:
  VersionTagging:
    runs-on:
      - ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write

    steps:
      - name: 🔄 Checkout to the branch
        uses: actions/checkout@v4

      - name: 🍏 Set up Node.js version
        uses: actions/setup-node@v4

      - name: 📂 Creating a version tag
        run: |
          VERSION=$(jq -r .version package.json)
          git tag v$VERSION
          git push origin v$VERSION
