name: Release

on:
  push:
    tags:
      - v*
  workflow_run:
    workflows:
      - Creating a version tag
    branches:
      - main
    types:
      - completed

jobs:
  Release:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write
      packages: write

    steps:
      - name: 🔄 Checkout to the branch
        uses: actions/checkout@v4

      - name: 🚀 GitHub Release
        run: |
          VERSION=$(jq -r .version package.json)
          gh release create v$VERSION --generate-notes --target main
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
